/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
  text-decoration-line: none;
  color: inherit;
}
a:hover { 
  text-decoration: none; 
  color: inherit;
}
a:visited {
  text-decoration: none; 
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 50px;
}
a, a:visited {
  color: #ce4b99;
}

.marks {

}

/*
text[style] {
   font-size: 16px !important;
   fill: blue !important;
}
*/

body {
  padding: 30px;
  color: black;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
  padding-bottom: 30px;
  grid-area: summary;
  display: grid;
  grid-template-columns: 270px auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "dcms-logo header-text";
}
#dcms-logo {
  grid-area: dcms-logo;
  height: 100px;
  width: 145px;
  place-self: center;
}
#header-text {
  grid-area: header-text;
  font-size: 40px;
  font-weight: 1;
  align-self: center;
}

#cover-sheet {
  grid-area: summary;
  grid-gap: 30px;
  display: grid;
  grid-template-columns: 800px auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "summary side-text";
}

#summary {
  grid-area: summary;
  padding-top: 40px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "infographics"
    "summary-text"
    "summary-overlap-chart";
}

#summary-text {
  grid-area: summary-text;
  padding: 0 70px 0 70px
}


#infographics {
  grid-area: infographics;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 50px 200px;
  grid-template-areas: 
    "money-bag-title donut-title dcms-change-title uk-change-title"
    "money-bag donut dcms-change uk-change";
}
.ig-title {
  color: #A9A9A9;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px; 
}

#money-bag-title {
  grid-area: money-bag-title;
  place-self: center;
}
#money-bag {
  height: 200px;
  width: 200px;
  grid-area: money-bag;
  place-self: center;
}
#money_bag {
  height: 200px;
  width: 200px;
}

#donut-title {
  grid-area: donut-title;
  place-self: center;
}
#donut {
  grid-area: donut;
  height: 200px;
  width: 200px;
  align-self: center;
  justify-self: start;
}

#dcms-change-title {
  grid-area: dcms-change-title;
  place-self: center;
}
#dcms-change {
  grid-area: dcms-change;
  height: 200px;
  width: 200px;
  align-self: center;
  justify-self: start;
}

#uk-change-title {
  grid-area: uk-change-title;
  place-self: center;
}
#uk-change {
  grid-area: uk-change;
  height: 200px;
  width: 200px;
  align-self: center;
  justify-self: start;
}



#side_text {
  background-color: pink;
  padding: 15px;
  list-style-position: inside;
}

#chapter-1, #chapter-2 {
  padding: 100px 0px 0 0px;
  list-style-position: inside;
}


/* circle css */
.chart-text {
}


