/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/* My Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
  text-decoration-line: none;
  color: inherit;
}
a:hover { 
  text-decoration: none; 
  color: inherit;
}
a:visited {
  text-decoration: none; 
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 50px;
}
a, a:visited {
  color: #ce4b99;
}

#sidenav a {
  color: #757575;
}

.marks {

}

#sidenav .active, .active, #sidenav li:hover {
  background-color: #f2c9d6;
  color: #a03155;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}
th,
td {
  border-bottom: 1px solid #cecfd5;
  padding: 10px 15px;
}
tfoot tr:last-child td {
  border-bottom: 0;
}
/* .mytable thead tr th.dt-center, td.dt-center,
.mytable tbody tr td.dt-center, td.dt-center,
{ text-align: center; } */

.mytable {
  padding: 20px 20px 20px 20px;
  margin: 40px 40px 0 0;
  width: 900px;
  /* float: left; */
}
.mytable th {
  vertical-align: middle;
}
.mytable .chart-title {
  padding-bottom: 20px;
  /* font-weight: bold; */
}

.chart {
    padding: 20px 0 20px 0;
    margin: 40px 40px 0 0;
    width: 650px;
    /* float: left; */
}
.chart .chart-title {
    padding: 0 20px 10px 20px;
    /* text-align: center; */
    /* font-weight: bold; */
}

#summary-text {
    font-size: 18px;
    line-height: 40px;
    color: black;
}

#summary-text li {
    padding-top: 30px;
}

/*
text[style] {
   font-size: 16px !important;
   fill: blue !important;
}
*/


body {
  color: rgb(36, 41, 46);
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#navbar {
  background-color: rgb(50, 49, 50);
  color: rgb(255, 255, 255);
  height: 120px;
  /* position: fixed; */
  /* top: 0; */
  /* transition: top 0.5s ease-in-out; */
  width: 100%;
  padding: 10px 0 0 10px;
  grid-area: navbar;
  display: grid;
  grid-template-columns: 270px auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "dcms-logo header-text";
}
#dcms-logo {
  grid-area: dcms-logo;
  height: 100px;
  width: 145px;
  place-self: center;
}
#header-text {
  grid-area: header-text;
  font-size: 40px;
  font-weight: 1;
  align-self: center;
}

#wrapper {
  grid-area: wrapper;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 120px auto;
  grid-template-areas:
  "navbar navbar"
  "sidenav main";
  grid-gap: 20px;
  
}

#sidenav {
  /* padding-top: 120px; */
  grid-area: sidenav;
  position: sticky;
  top: 20px;
  padding: 10px 0 10px 0;
  /* position: fixed; */
}
#sidenav a {
  padding: 0 10px 0 10px;
}

#main {
  /* padding-top: 120px; */
  grid-area: main;
  padding: 0 10px 0 0;
}

#cover-sheet {
  grid-area: summary;
  /* grid-gap: 30px; */
  display: grid;
  grid-template-columns: 800px auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "summary side-text";
}

#summary {
  grid-area: summary;
  /* padding-top: 40px; */
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "infographics"
    "summary-text"
    "summary-overlap-chart";
}

#summary-text {
  grid-area: summary-text;
  padding: 0 70px 0 70px
}


#infographics {
  grid-area: infographics;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 50px 200px;
  grid-template-areas: 
    "money-bag-title donut-title dcms-change-title uk-change-title"
    "money-bag donut dcms-change uk-change";
}
.ig-title {
  color: #A9A9A9;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px; 
}

#money-bag-title {
  grid-area: money-bag-title;
  place-self: center;
}
#money-bag {
  height: 200px;
  width: 200px;
  grid-area: money-bag;
  place-self: center;
}
#money_bag {
  height: 200px;
  width: 200px;
}

#donut-title {
  grid-area: donut-title;
  place-self: center;
}
#donut {
  grid-area: donut;
  height: 200px;
  width: 200px;
  align-self: center;
  justify-self: start;
}

#dcms-change-title {
  grid-area: dcms-change-title;
  place-self: center;
}
#dcms-change {
  grid-area: dcms-change;
  height: 200px;
  width: 200px;
  align-self: center;
  justify-self: start;
}

#uk-change-title {
  grid-area: uk-change-title;
  place-self: center;
}
#uk-change {
  grid-area: uk-change;
  height: 200px;
  width: 200px;
  align-self: center;
  justify-self: start;
}



#side_text {
  background-color: pink;
  padding: 15px;
  list-style-position: inside;
}

#chapter-1, #chapter-2, #chapter-3, #chapter-4, #annex-a {
  padding: 100px 0px 0 0px;
}

#chapter-1 ul, #chapter-2 ul, #chapter-3 ul, #chapter-4 ul, #annex-a ul
#chapter-1 ol, #chapter-2 ol, #chapter-3 ol, #chapter-4 ol, #annex-a ol {
  padding-left: 20px;
}


/* circle css */
.chart-text {
}

.c3-axis-y text, .c3-axis-x text, .c3-legend-item text {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}
.c3-legend-item {
  margin: 0 50px 0 50px;
}

/* table.c3-tooltip{
  font-size:150px;
  } */

  /* .c3-tooltip td {
    font-size:13px;
    padding: 3px 6px;
    background-color:red;
    border-left:1px dotted #999;
    color: #000;
    } */


    .c3-xgrid-line line {
      stroke: blue;
  }

/* font color */
.c3-axis .tick {
  fill: rgb(102, 102, 102);
}
.c3-ygrids .c3-ygrid {
  /* stroke-dasharray: 20 !important; */
  stroke-dasharray: 99999;
  stroke: rgb(230, 230, 230);
}

#figure_2_1 .c3-line {
  stroke-width: 2px;
}

/* y axis */
.c3-axis-y .domain {
  display: none;
}
.c3-axis-y .tick line {
  display: none;
}

/* x axis */
.c3-axis-x .domain {
  stroke: rgb(204, 214, 235);
}
.c3-axis-x .tick line {
  stroke: rgb(204, 214, 235);
}

/* legend */
/* .c3-legend-item-tile {
  shape-rendering: auto;
  stroke-linecap: round;
  stroke-dasharray: 0.1 10;
  stroke-width: 8;
  transform: translate(6px, 1px);
  padding: 10px 10px 10px 10px;
} */

/* #figure_2_1 .c3-line-Gambling {
  stroke-width: 10px;
} */
